# ========================================== #
# UNREAL GENERATED/DERIVED FILES AND FOLDERS #
# ========================================== #

*/Build
*/Binaries
*/DerivedDataCache
*/Intermediate
*/Saved

# ================================================= #
# VISUAL STUDIO GENERATED/DERIVED FILES AND FOLDERS #
# ================================================= #

*.VC.db


# ============== #
# Starter Assets #
# ============== #

Section_03/Content/StarterContent/

